NODE_ENV = production
PORT = 5000

MONGODB_URI = mongodb+srv://riteshkumaran2005_db_user:%40Sanjay.28@mentorconnect.8wwsjwz.mongodb.net/mentorconnect?appName=MentorConnect
JWT_ACCESS_SECRET = 8c7f1e2a9d4b6f3c5e8a1d7b9c2f4e6a8b3d5f7c1e9a2b4d6f8c3e5a7b1d9f2
JWT_REFRESH_SECRET = f2a9c6e1b8d5f3a7c4e9d2b6f1a8c5e3d7b4a9f6c2e8d1b5a7c3f9e4d6b2a8c
JWT_ACCESS_EXPIRES = 15m
JWT_REFRESH_EXPIRES = 7d

CLOUDINARY_CLOUD_NAME = dopbdjc7u
CLOUDINARY_API_KEY = 252647346522994
CLOUDINARY_API_SECRET = vx3ptja7tXge0PrYkhcv0Hnngrs

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USER = riteshkumaran2005@gmail.com
EMAIL_PASS = sthk ybck hlai jubp

CLIENT_URL = http://localhost:5173